#Ignore build and lib dirs
_old
build
lib/*

#Ignore executables
bin

#Ignore dependencies
dependencies

#Ignore settings for .vscode because it's dependant on OS
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

#Ignore CMakeLists.txt because it's dependant on OS
CMakeLists.txt
CMakeCache.txt

#Ignore Mac specific files
.DS_Store